<div class="center mainContent">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<h3>New Games</h3>
				<% if @games.any? %>
					<ul class = "newgames">	
					<% @games.reverse[0..11].each do |game| %>
						<%= render :partial => "categories/gamelist", :locals => {:game => game} %>
					<% end %>
					</ul>
				<% end %>
			</div>
			<div class="span3">
				<h3>Popular Games</h3>
				<% if @games.any? %>
					<ul class = "popgames">	
					<% @games[0..5].each do |game| %>
						<%= render :partial => "categories/gamelist", :locals => {:game => game} %>
					<% end %>
					</ul>
				<% end %>
			</div>
			<div class="span3">
				<h3>Top Players</h3>
				<h3>Site News</h3>
				<h3>Random Game</h3>
			</div>
		</div>
	</div>
</div>
