<div class="center mainContent">
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div class="newgames">
					<h3>New Games</h3>
					<ul>
						<li>Game1</li>
						<li>Game2</li>
						<li>Game3</li>
						<li>Game4</li>
						<li>Game5</li>
						<li>Game6</li>
						<li>Game7</li>
						<li>Game8</li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<div class="populargames">
					<h3>Popular Games</h3>
					<ul>
						<li>Game1</li>
						<li>Game2</li>
						<li>Game3</li>
						<li>Game4</li>
					</ul>
				</div>
			</div>
			<div class="span3">
				<h3>Top Players</h3>
				<h3>Site News</h3>
				<h3>Random Game</h3>
			</div>
		</div>
	</div>
</div>
