<%= form_for(@comment) do |f|%>
	<div class="field">
		<%= f.text_area :content, placeholder: "Add your comment about the game!", size: "20x2" %>
	</div>
	
	<%= f.hidden_field :game_id, { :value => @game.id } %>
	
	<%= f.submit "Submit Comment", class: "btn pull-right" %>
<% end %>