<h2>All Games</h2>

<% if @games.any? %>
	<ul class = "gamelist">	
	<% @games.each do |game| %>
		<%= render :partial => "categories/gamelist", :locals => {:game => game} %>
	<% end %>
	</ul>
	<%= will_paginate @games %>
<% end %>

